header h3 {
    color: #ffffff; /* Change this to your preferred color */
}

body {
    background-color: #0000ff; /* Change this to your preferred color */
}

#label-date1 {
    color: yellow;
    font-weight: bold;
}

.date-difference {
    color: #00ffff; /* Change this to your preferred color */
}

.total-difference {
    color: #ffffff; /* Change this to your preferred color */
}