header {
    text-align: center;
}

header h3 {
    color: #ffffff; /* Change this to your preferred color */
    
   
}

body {
    background-color: #0000ff; /* Change this to your preferred color */
    font-family: 'Courier New', monospace;
}

#label-date1 {
    color: yellow;
    font-weight: bold;
}

#label-date2 {
    color: yellow;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row;
}

.section {
    flex: 1;
    padding: 20px; /*Distancia del formulario al grid de*/
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.section:first-child {
    align-items: flex-end;
}

.section:last-child {
    flex: 2;
    align-items: flex-start;
   
}

input {
    margin-bottom: 10px; /* Change this to the amount of space you want */
    width: 100%; /* This will make the inputs take up the full width of their container */
}

input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 1px;
}

input[value="Calcular"] {
    background-color: #f0f0f0; /* Change this to your preferred color */
    color: black;
    padding: 3px 5px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    margin-top: 5px;
}

input[name="reset"] {
    background-color: #333333; /* Change this to your preferred color */
    color: white;
    padding: 3px 5px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    margin-top: 5px;
}

input[type="date"]:focus {
    background-color: yellow;
}

.header-row, .result-row {
    display: flex;
}

.centered-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container section, .grid-container {
    width: 80%; /* Adjust this value to your liking */
    margin: 0 auto;
    padding: 0% 0%;
}

.header-row, .result-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
   
}

.grid-container, .header-row, .result-row {
    padding: 0px 0px; /* 10px top/bottom padding, 20px left/right padding */
    margin: 0px 0px; /* 10px top/bottom margin, 0px left/right margin */
}

.column {
    border: 1px solid black;
    padding: 0px;
    text-align: center;    
}

.centered-column {/* Contenido centrado de cada celda*/
    display: flex;
    justify-content: center;
    align-items: center;  
}